@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #faf9ff;
  font-family: Barlow, Helvetica, Arial, "sans-serif";
  height: 100vh;
  width: 100%;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
}
a {
  color: #462ac8;
}
.navBar {
  background: linear-gradient(97deg, #543fed 22%, #462ac8 102%);
}

.btn {
  @apply text-white text-sm py-2 px-4 rounded bg-secondary;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
